# Variables d'environnement pour Conference Ticket

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_KEY=your-anon-key

# FedaPay
NEXT_PUBLIC_FEDAPAY_KEY=pk_sandbox_z8sJl3QVIa1VLIsAdG1S9aan
NEXT_PUBLIC_FEDAPAY_SANDBOX=true

# Resend Email API
RESEND_API_KEY=re_your_.api_key

# Email Configuration
EMAIL_FROM=billets@excellence-en-action.bj
EMAIL_FROM_NAME=Excellence en Action
